<div class="col-md-2"></div>
<div class="col-md-8">
  <div class="form-row">
    <div class="col-md-4">
      <table>
        <tbody>
          <tr>
            <div class="form-group text-box cell-pad cell-width">
              <label for="startdate" class="control-label pull-left">Date of Activity:</label>
              <input type="text" class="form-control" min-date="" name="" datepicker-popup="" ng-model="" is-open="" datepicker-options="" ng-required="true" close-text="Close" />
            </div>
          </tr>
          <tr>
            <div class="form-group text-box cell-pad cell-width">
              <label for="" class="control-label pull-left">Average Heart Rate (optional):</label>
              <input type="text" class="form-control" name="" ng-model="" ng-required="true" />
            </div>
          </tr>
          <tr>
            <div class="form-group text-box cell-pad cell-width">
              <label for="" class="control-label pull-left">Activity Viewable By:</label>
              <input type="text" class="form-control" name="" ng-model="" ng-required="true" />
            </div>
          </tr>
          <tr>
            <div class="form-group text-box cell-pad cell-width">
              <label for="" class="control-label pull-left">Equipment Type:</label>
              <input type="text" class="form-control" name="" ng-model="" ng-required="true" />
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <table>
        <tbody>
          <tr>
            <div class="form-group text-box cell-pad cell-width">
              <label for="" class="control-label pull-left">Duration:</label>
              <input type="text" class="form-control" name="" ng-model="" ng-required="true" />
            </div>
          </tr>
          <tr>
            <div class="form-group text-box cell-pad cell-width">
              <label for="" class="control-label pull-left">Distance:</label>
              <input type="text" class="form-control" name="" ng-model="" ng-required="true" />
            </div>
          </tr>
          <tr>
            <div class="form-group text-box cell-pad cell-width">
              <label for="" class="control-label pull-left">Calories:</label>
              <input type="text" class="form-control" name="" ng-model="" ng-required="true" />
            </div>
          </tr>
          <tr>
            <div class="form-group text-box cell-pad cell-width">
              <label for="" class="control-label pull-left">How did it go?:</label>
              <input type="text" class="form-control" name="" ng-model="" ng-required="true" />
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
