.btn-sport {
    color: white;
    background-color: #255a88;
    border-color: #255a88;
    width: 100px;
    height: 100px;
}

.btn-sport:hover {
  color: white;
}

.sport-bttns {
  padding-left: 19%;
}
