<div class="col-md-8">
  <div class="col-md-2"></div>
  <div class="sport-bttns">
    <button type="button" class="btn btn-sport"><img src="/images/running.png"><br><strong>Running</strong></button>
    <button type="button" class="btn btn-sport"><img src="/images/walking.png"><br><strong>Walking</strong></button>
    <button type="button" class="btn btn-sport"><img src="/images/cycling.png"><br><strong>Cycling</strong></button>
    <button type="button" class="btn btn-sport"><img src="/images/swimming.png"><br><strong>Swimming</strong></button>
    <button type="button" class="btn btn-sport"><img src="/images/elliptical.png"><br><strong>Elliptical</strong></button>
    <button type="button" class="btn btn-sport"><img src="/images/strength.png"><br><strong>Strength</strong></button>
  </div>
</div>
<div class="col-md-2 activity-details"><p><strong>Activity Details</strong></p>
  <table class="table table-responsive">
    <tbody>
      <tr>
        <td id="activity-details-row"><strong>something</strong></td>
      </tr>
      <tr>
        <td id="activity-details-row"><strong>something</strong></td>
      </tr>
    </tbody>
  </table>
</div>
