.btn-sport {
    color: white;
    background-color: #2f71aa;
    border-color: #2f71aa;
    width: 100px;
    height: 100px;
}

.btn-sport:hover {
  color: white;
}

.sport-bttns {
  padding-left: 19%;
}

.col-md-2.activity-details {
  padding-top: 1%;
  background-color: white;
}

td#activity-details-row {
  color: black;
}
