<div class="container">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <form class="form-signin">
      <h2 class="h2-like"><strong>Login</strong></h2><br>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">PASSWORD</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""><br>
      <button class="btn btn-lg btn-primary btn-block" href="" ng-click="login.authenticate()">SIGN IN</button>
    </form>
  </div>
</div>
