.well.reports {
  background-color: #82a9cc;
  border-color: #82a9cc;
  color: #001031;
}

.icons-heart {
  width: 15px;
  height: 15px;
}

.icons {
  width: 20px;
  height: 20px;
}

.reports {
  font-size: 16px;
}
