.well.reports {
  background-color: #255a88;
  border-color: #001031;
  color: white;
}

.icons-heart {
  width: 15px;
  height: 15px;
}

.icons {
  width: 20px;
  height: 20px;
}

.reports {
  font-size: 16px;
}

canvas#bar, canvas#line {
  width: 100px;
  height: 20px;
}

h4.left-panel {
  color: white;
}
