.top-panel {
  margin-top: -10%;
  color: #001031;
}

button.btn.btn-primary {
  background-color: #022b4c;
  border-color: #012644;
  width: 100px;
  height: 80px;
}

.well {
  background-color: #022b4c;
  border-color: #022b4c;
  opacity: 0.5;
  color: white;
  text-decoration: none;
}

h4.left-panel {
  font-weight: 800;
  color: white;
}
