<!--Side Nav-->
<nav class="menu" id="theMenu">
  <div class="menu-wrap">
    <h3>
      <li><a class="nav-item" href="" ng-click="">Settings</a></li>
      <li><a class="nav-item" href="" ng-click="dashboard.logout()">Logout</a></li>
    </h3>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-envelope"></i></a>
  </div>
  <div id="menuToggle"><i class="fa fa-bars fa-3x"></i></div>
</nav>
<!--Top Nav-->
<div class="col-md-12">
  <div class="top-panel">
    <div class="col-md-2"></div>
    <div class="col-md-2"><h2><br><strong>{{dashboard.userProfile.name}}</strong></h2></div><br>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" ng-click="dashboard.dashboard()"><i class="fa fa-home fa-3x"></i><br><strong>Dashboard</strong></button>
      <button type="button" class="btn btn-primary"><i class="fa fa-bar-chart fa-3x"></i><br><strong>Reports</strong></button>
      <button type="button" class="btn btn-primary"><i class="fa fa-calendar-o fa-3x"></i><br><strong>Training</strong></button>
      <button type="button" class="btn btn-primary"><i class="fa fa-calendar fa-3x"></i><br><strong>Activities</strong></button>
      <button type="button" class="btn btn-primary"><i class="fa fa-users fa-3x"></i><br><strong>Training</strong></button>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!--Body-->
<div class="col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div class="well">
      <h4 class="left-panel"><strong>INFO</strong></h4><hr>
      <p><strong>DOB: </strong>{{dashboard.userProfile.birthday}}</p>
      <p><strong>Gender: </strong>{{dashboard.userProfile.gender}}</p>
      <p><strong>Location: </strong></p>
    </div>
    <div class="well">
      <h4 class="left-panel"><strong> STATS</strong></h4><hr>
      <p><strong>Total Activities: </strong></p>
      <p><strong>Total Distance: </strong> </p>
      <p><strong>Total Calories: </strong> </p>
      <p><strong>Weight: </strong>{{dashboard.userProfile.weight}}</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h4><strong>RECENT ACTIVITIES: {{dashboard.activities.length}}</strong></h4><br>
      <table class="table table-responsive">
        <tbody>
          <tr ng-repeat="activity in dashboard.activities">
            <td>
              <p>Type: {{activity.type}}</p>
            </td>
            <td>
              <p>Duration: {{activity.duration}}</p>
            </td>
            <td>
              <p>Total Distance: {{activity.total_distance}}</p>
            </td>
            <td>
              <p>Date: {{activity.start_time}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
(function () {
  $('#menuToggle, .menu-close').on('click', function () {
    $('#menuToggle').toggleClass('active');
		$('body').toggleClass('body-push-toleft');
		$('#theMenu').toggleClass('menu-open');
	});
})(jQuery)
</script>
