.top-panel {
  margin-top: -10%;
  color: #001031;
}

button.btn.btn-primary {
  background-color: #022b4c;
  border-color: #012644;
  width: 100px;
  height: 80px;
}

.well.dashboard {
  background-color: #255a88;
  border-color: #001031;
  color: white;
}

.fa.fa-info-circle, .fa.fa-area-chart {
  color: #82a9cc;
}

h4.top-panel-title {
  color: #82a9cc;
}

.well {
  background-color: #022b4c;
  border-color: #022b4c;
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

table {
  color: #82a9cc;
  font-weight: 300;
}

h3, h5 {
  color: white;
}

li {
  color: black;
}
