.top-panel {
  margin-top: -10%;
  color: #001031;
}

button.btn.btn-primary {
  background-color: #022b4c;
  border-color: #012644;
  width: 100px;
  height: 80px;
}

.well {
  background-color: #022b4c;
  border-color: #022b4c;
  color: white;
  opacity: 0.7;
  text-decoration: none;
}
